# Core pipeline
numpy
torch>=2.9.0
decord==0.6.0
scenedetect==0.6.7.1
av
Pillow
tqdm
litellm
pydantic
sentence-transformers
scikit-learn
opencv-python-headless

# Audio pipeline
soundfile
scipy
audioread
# madmom  # 暂时注释，否则编译失败
# aubio   # 同样编译问题，注释

python-dotenv
tenacity

# Web
streamlit
gradio

# ASR
# pywhispercpp
# pyannote.audio

requests
packaging
torchvision
qwen-omni-utils

einops
ffmpeg-python
matplotlib

# 关键修复：加上 Cython
Cython>=3.0.0
